<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    <div class="jumbotron">
        <h1 class="center">Walkabout Shoes</h1>
    </div>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
        <h2 class="well">{{ store.getName }}</h2>

    {% if brands is not empty %}
        <p>Here are the brands for this store:</p>
        <ul>
            {% for brand in brands %}
                <li>{{ brand.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a brand to this store:</h4>

    <form action='/add_brands' method='post'>
        <input id="store_id" name="store_id" type="hidden" value="{{ store.getId }}">
        <label for="brand_id">Select a brand</label>
        <select id='brand_id' name='brand_id' type='text'>
          {% for brand in all_brands %}
            <option value="{{ brand.getId }}"> {{ brand.getName }} </option>
          {% endfor %}
        </select>
        <button class='btn btn-success' type='submit'>Add brand</button>
    </form>

    <p><a href="/stores/{{ store.getId }}/edit">Edit this store</a></p>
    </div>
</body>
</html>
